.frame-child {
  position: absolute;
  width: calc(100% + 10px);
  right: -10px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 117px;
}
.letter-titles-icon {
  position: absolute;
  top: 9.18px;
  left: 0;
  width: 198.19px;
  height: 39.62px;
}
.letter-input-child,
.your-email {
  position: absolute;
  top: 0;
  left: 38px;
  width: 794px;
  height: 52px;
}
.your-email {
  top: 16px;
  left: 0;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 231px;
  height: 21px;
}
.letter-input,
.newsletter-group,
.send-btn-icon {
  position: absolute;
  top: 0;
  left: 167.43px;
  width: 832px;
  height: 52px;
}
.newsletter-group,
.send-btn-icon {
  left: 946.43px;
  width: 52px;
}
.newsletter-group {
  top: 46px;
  left: 186.57px;
  width: 999.43px;
}
.frame {
  position: absolute;
  width: calc(100% - 10px);
  right: 10px;
  bottom: 746px;
  left: 0;
  height: 130px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-karla);
}
