.story-details-icon {
  position: absolute;
  top: 6px;
  left: 433px;
  width: 774px;
  height: 574px;
}
.image-gallery-icon1 {
  position: absolute;
  top: 0;
  left: 423px;
  width: 782px;
  height: 592px;
}
.vector-icon,
.your-reservation-is-confirmed {
  position: absolute;
  top: 40px;
  left: 30.15px;
  width: 298.67px;
  height: 126.56px;
}
.vector-icon {
  height: 32.6%;
  width: 16.02%;
  top: 46.32%;
  right: 77.51%;
  bottom: 21.08%;
  left: 6.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.you-will-get-a-confirmation-an {
  position: absolute;
  top: 199.05px;
  left: 44.77px;
  width: 258.9px;
  height: 32.03px;
}
.five-stars-icon2 {
  position: absolute;
  height: 3.38%;
  width: 9.63%;
  top: 81.93%;
  right: 39.75%;
  bottom: 14.7%;
  left: 50.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stories-section {
  position: absolute;
  top: 165px;
  left: 94px;
  width: 1205px;
  height: 592px;
  overflow: hidden;
}
