.top-item {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 651px;
}
.search-bar-icon1 {
  position: absolute;
  top: 499px;
  left: calc(50% - 397px);
  width: 794px;
  height: 70px;
}
.add-date1,
.add-time1,
.restaurant-occasion-cuisine1 {
  top: 0;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
}
.restaurant-occasion-cuisine1 {
  position: absolute;
  left: 0;
  width: 248px;
  height: 21px;
}
.add-date1,
.add-time1 {
  width: 111px;
}
.add-date1 {
  position: absolute;
  left: 261px;
  height: 21px;
}
.add-time1 {
  left: 401px;
}
.add-people1,
.add-time1,
.search-input1 {
  position: absolute;
  height: 21px;
}
.add-people1 {
  top: 0;
  left: 569px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 111px;
}
.search-input1 {
  top: 530px;
  left: calc(50% - 383px);
  width: 680px;
}
.search-headers-icon1 {
  position: absolute;
  top: 444px;
  left: calc(50% - 384.68px);
  width: 234.27px;
  height: 28px;
}
.for-any-event-locate-your-tab1 {
  position: relative;
  width: 643.44px;
  height: 148.21px;
}
.for-any-event-locate-your-tab-container {
  position: absolute;
  top: 203px;
  left: calc(50% - 332px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.main-header-icon6,
.top1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.main-header-icon6 {
  max-width: 100%;
  overflow: hidden;
  height: 70px;
}
.top1 {
  height: 651px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-karla);
}
