.star4,
.star5,
.star6,
.star7,
.star8 {
  position: absolute;
  height: 25.51%;
  width: 8.45%;
  top: 61.18%;
  right: 28.57%;
  bottom: 15.31%;
  left: 62.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.star4,
.star6,
.star7,
.star8 {
  right: 14.87%;
  left: 76.68%;
}
.star6,
.star7,
.star8 {
  top: 61.22%;
  right: 42.86%;
  bottom: 13.27%;
  left: 48.69%;
}
.star7,
.star8 {
  right: 57.14%;
  left: 34.4%;
}
.star8 {
  right: 71.43%;
  left: 20.12%;
}
.star-rating {
  position: absolute;
  height: 17.57%;
  width: 37.47%;
  top: 63.75%;
  right: 5.32%;
  bottom: 22.68%;
  left: 62.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
