@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.mainframe {
  position: absolute;
  top: 0;
  left: -2px;
  background: linear-gradient(180deg, #f8e9db, rgba(255, 255, 255, 0));
  width: 1440px;
  height: 2845px;
}
.round-search-child,
.search-bar-child {
  position: absolute;
  top: 0;
  left: calc(50% - 397px);
  width: 794px;
  height: 70px;
}
.round-search-child {
  left: calc(50% - 27px);
  width: 54px;
  height: 54px;
}
.vector-icon {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fesearch,
.round-search {
  position: absolute;
  cursor: pointer;
}
.fesearch {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 15px;
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.round-search {
  top: 8px;
  left: calc(50% + 335px);
  width: 54px;
  height: 54px;
}
.search-restaurants-cuisines {
  border: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 58px;
  color: var(--color-darkslategray-200);
  text-align: center;
  display: inline-block;
  width: 636px;
  height: 38px;
}
.search-bar {
  position: absolute;
  top: 499px;
  left: calc(50% - 397px);
  width: 794px;
  height: 70px;
}
.search-headers-icon {
  position: absolute;
  top: 444px;
  left: calc(50% - 384.7px);
  width: 234.3px;
  height: 28px;
}
.for-any-event-locate-your-tab {
  position: relative;
  width: 643.4px;
  height: 148.2px;
}
.for-any-event-locate-your-tab-wrapper {
  position: absolute;
  top: 203px;
  left: calc(50% - 332px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
.reservify-icon3,
.restaurant-1-1 {
  position: absolute;
  top: 13px;
  left: 408px;
  width: 48px;
  height: 53px;
}
.reservify-icon3 {
  top: 10.3px;
  left: 0;
  width: 251.4px;
  height: 31.3px;
}
.restaurant-1-icon3 {
  position: absolute;
  top: 0;
  left: 265px;
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.titlelogo3 {
  position: absolute;
  top: 9px;
  left: 32px;
  width: 317px;
  height: 52px;
}
.bxbxs-user-circle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.initial-options {
  position: absolute;
  top: 13px;
  left: 1366px;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.main-header2,
.top {
  background-color: var(--color-white);
}
.main-header2 {
  position: absolute;
  width: 100%;
  top: -4px;
  right: 0;
  left: 0;
  height: 70px;
  overflow: hidden;
}
.top {
  position: relative;
  width: 1440px;
  height: 651px;
}
.homepage-child {
  position: relative;
  width: 1220px;
  height: 23px;
}
.top-rated-child,
.top-rated-restaurants {
  position: absolute;
  top: 15.3px;
  left: 14.1px;
  width: 225.8px;
  height: 75px;
}
.top-rated-child {
  top: 132px;
  left: 16px;
  width: 140px;
  height: 6px;
}
.latest-property-1-child {
  position: absolute;
  top: -10px;
  left: -9.5px;
  width: 299px;
  height: 360px;
}
.lenny,
.pier-street-toronto {
  position: absolute;
  left: 22px;
  display: inline-block;
}
.lenny {
  top: 186px;
  font-size: var(--font-size-lg);
  color: var(--color-crimson);
  width: 164px;
  height: 17px;
}
.pier-street-toronto {
  top: 262px;
  width: 197px;
  height: 14px;
}
.latest-property-1-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  width: 279px;
  height: 172px;
  object-fit: cover;
}
.seafood {
  position: absolute;
  top: 240px;
  left: 22px;
  display: inline-block;
  width: 64px;
  height: 14px;
}
.rectangle-8-stroke {
  position: absolute;
  top: 294px;
  left: 21.5px;
  width: 107px;
  height: 35px;
}
.heart-icon,
.reserve-icon {
  position: absolute;
  top: 304.4px;
  left: 40.2px;
  width: 69px;
  height: 11.8px;
}
.heart-icon {
  height: 7.44%;
  width: 10.23%;
  top: 5.88%;
  right: 7.66%;
  bottom: 86.68%;
  left: 82.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.five-stars-icon,
.latest-property-1 {
  position: absolute;
  top: 202px;
  left: 14.5px;
  width: 279.5px;
  height: 340px;
}
.five-stars-icon {
  height: 4.12%;
  width: 33.99%;
  top: 65%;
  right: 58.14%;
  bottom: 30.88%;
  left: 7.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chinese {
  position: absolute;
  top: 240px;
  left: 22px;
  display: inline-block;
  width: 55px;
  height: 14px;
}
.latest-property-2,
.vector-icon1 {
  position: absolute;
  top: 202px;
  left: 324.5px;
  width: 279.5px;
  height: 340px;
}
.vector-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.halfstar-child {
  position: absolute;
  top: 0;
  left: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 7px;
  height: 14px;
}
.halfstar {
  position: absolute;
  height: 2.43%;
  width: 1.13%;
  top: 73.44%;
  right: 14.49%;
  bottom: 24.13%;
  left: 84.38%;
}
.map-btn-icon {
  position: absolute;
  top: 108px;
  left: 1078px;
  width: 142.6px;
  height: 26px;
}
.fournhalfstars-icon {
  position: absolute;
  height: 2.45%;
  width: 7.67%;
  top: 73.44%;
  right: 89.39%;
  bottom: 24.11%;
  left: 2.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.top-rated {
  position: relative;
  background-color: var(--color-white);
  width: 1239px;
  height: 576px;
}
.italian-child {
  position: absolute;
  top: 84px;
  left: 16px;
  width: 140px;
  height: 6px;
}
.latest-property-21 {
  position: absolute;
  top: 202px;
  left: 324px;
  width: 279px;
  height: 340px;
}
.italian-cuisine,
.map-btn-icon1 {
  position: absolute;
  top: 108px;
  left: 1078px;
  width: 142.7px;
  height: 26px;
}
.italian-cuisine {
  top: 12px;
  left: 14.1px;
  line-height: 48px;
  display: inline-block;
  width: 339px;
  height: 103px;
}
.italian {
  position: relative;
  background-color: rgba(255, 254, 254, 0.24);
  width: 1239px;
  height: 576px;
  font-size: var(--font-size-17xl);
  color: var(--color-dimgray);
}
.shoushin1 {
  margin: 0;
}
.japanese1 {
  position: absolute;
  top: 240px;
  left: 22px;
  display: inline-block;
  width: 68px;
  height: 14px;
}
.fournhalfstars-icon1 {
  position: absolute;
  height: 4.15%;
  width: 33.99%;
  top: 65%;
  right: 58.14%;
  bottom: 30.85%;
  left: 7.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.japanese2 {
  position: absolute;
  top: 240px;
  left: 22px;
  display: inline-block;
  width: 81px;
  height: 14px;
}
.japanese-item,
.latest-property-8 {
  position: absolute;
  top: 202px;
  left: 633.5px;
  width: 279.5px;
  height: 340px;
}
.japanese-item {
  top: 565px;
  left: 9.5px;
  width: 1220px;
  height: 23px;
}
.japanese-cuisine {
  position: absolute;
  top: 12px;
  left: 14.1px;
  font-size: var(--font-size-17xl);
  line-height: 48px;
  display: inline-block;
  color: var(--color-dimgray);
  width: 339px;
  height: 103px;
}
.footer-icon,
.homepage {
  position: relative;
  width: 1440px;
  height: 321px;
}
.homepage {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 100%;
  height: 2837px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 27px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
