.login-icon,
.username-icon {
  position: absolute;
  top: 203.59px;
  left: 578.37px;
  width: 209.28px;
  height: 47.32px;
}
.username-icon {
  top: 409px;
  left: 312.88px;
  width: 221.74px;
  height: 28.24px;
}
.password-icon1,
.username-stroke-icon {
  position: absolute;
  top: 398px;
  left: 275px;
  width: 295px;
  height: 115px;
}
.password-icon1 {
  top: 655.32px;
  left: 320.91px;
  width: 203.79px;
  height: 29.88px;
}
.password-stroke-icon {
  position: absolute;
  top: 654.32px;
  left: 319.91px;
  width: 205.79px;
  height: 31.88px;
}
.rectangle-1-stroke1,
.rectangle-2-stroke {
  position: absolute;
  top: 455px;
  left: 304px;
  width: 786px;
  height: 112px;
}
.rectangle-2-stroke {
  top: 703px;
}
.enter-username-icon {
  position: absolute;
  top: 498px;
  left: 327.94px;
  width: 321.86px;
  height: 28.24px;
}
.enter-password-icon {
  position: absolute;
  top: 744.32px;
  left: 331.73px;
  width: 304.15px;
  height: 29.88px;
}
.login-child,
.login-icon1 {
  position: absolute;
  top: 906px;
  left: 582px;
  width: 212px;
  height: 94px;
}
.login-icon1 {
  top: 935.32px;
  left: 629.72px;
  width: 116.41px;
  height: 37.64px;
}
.main-header-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 70px;
  overflow: hidden;
}
.login {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-linen);
  width: 100%;
  height: 1290px;
  overflow: hidden;
}
