.sign-in-now {
  text-decoration: underline;
}
.have-an-account-container1 {
  line-break: anywhere;
  width: 100%;
}
.have-an-account-container {
  position: absolute;
  top: 695px;
  left: 207px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 367px;
  cursor: pointer;
}
.registerbtncircle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-indianred);
  width: 365px;
  height: 34px;
  cursor: pointer;
}
.registerbtntxt {
  position: absolute;
  top: 7px;
  left: 150px;
  font-weight: 500;
}
.registerbtn {
  position: absolute;
  top: 629px;
  left: 212px;
  width: 365px;
  height: 34px;
  color: var(--color-white);
}
.enteremailcircle,
.enteremailtxt {
  position: absolute;
  top: 36px;
  height: 34px;
}
.enteremailtxt {
  border: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  left: 16px;
  color: var(--color-gray-500);
  text-align: left;
  display: flex;
  align-items: center;
  width: 335px;
}
.enteremailcircle {
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 367px;
}
.email {
  position: absolute;
  top: 0;
  left: 0;
}
.enteremailfield,
.enterfullnamefield,
.enterusernamefield {
  position: absolute;
  top: 97px;
  left: 207px;
  width: 367px;
  height: 70px;
}
.enterfullnamefield,
.enterusernamefield {
  top: 179px;
}
.enterusernamefield {
  top: 261px;
}
.confirmpasswordfield,
.enterpassworldfield,
.enterphonefield {
  position: absolute;
  top: 343px;
  left: 207px;
  width: 367px;
  height: 70px;
}
.confirmpasswordfield,
.enterpassworldfield {
  top: 425px;
}
.confirmpasswordfield {
  top: 507px;
}
.please-fill-out {
  position: absolute;
  top: 68px;
  left: 291px;
  color: var(--color-gray-100);
}
.registerpage {
  position: absolute;
  top: 61px;
  left: 595px;
  width: 785px;
  height: 736px;
}
.reservify-icon,
.signup-child {
  position: absolute;
  top: 66px;
  left: 0;
  width: 556px;
  height: 805px;
}
.reservify-icon {
  top: 10.3px;
  width: 251.4px;
  height: 31.3px;
}
.restaurant-1-icon {
  position: absolute;
  top: 0;
  left: 265px;
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.main-header,
.titlelogo {
  position: absolute;
  top: -287px;
  left: -1468px;
  width: 317px;
  height: 52px;
}
.main-header {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 70px;
  overflow: hidden;
}
.restaurant-2-icon {
  position: absolute;
  top: 249px;
  left: 269px;
  width: 279px;
  height: 279px;
  object-fit: cover;
}
.titlelogo1 {
  position: absolute;
  top: 9px;
  left: 32px;
  width: 317px;
  height: 52px;
}
.signup {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 871px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
