.signup-child {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 556px;
  height: 805px;
}
.email {
  position: absolute;
  top: 159px;
  left: 209px;
}
.register-form-child {
  position: absolute;
  top: 195px;
  left: 209px;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 367px;
  height: 34px;
}
.full-name {
  position: absolute;
  top: 246px;
  left: 209px;
}
.register-form-item {
  position: absolute;
  top: 282px;
  left: 209px;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 367px;
  height: 34px;
}
.username {
  position: absolute;
  top: 333px;
  left: 209px;
}
.register-form-inner {
  position: absolute;
  top: 369px;
  left: 209px;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 367px;
  height: 34px;
}
.password {
  position: absolute;
  top: 507px;
  left: 209px;

}
.rectangle-div {
  position: absolute;
  top: 456px;
  left: 209px;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 367px;
  height: 34px;
}
.phonenumber {
  position: absolute;
  top: 420px;
  left: 209px;
}
.register-form-child1 {
  position: absolute;
  top: 543px;
  left: 209px;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 367px;
  height: 34px;
}
.sign-in-now {
  text-decoration: underline;
}
.have-an-account-container1 {
  line-break: anywhere;
  width: 100%;
}
.have-an-account-container {
  position: absolute;
  top: 681px;
  left: 207px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 367px;
  cursor: pointer;
}
.please-fill-out {
  position: absolute;
  top: 108px;
  left: 281px;
  color: var(--color-gray-100);
}
.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-31xl);
  background-color: var(--color-indianred);
  width: 365px;
  height: 34px;
  cursor: pointer;
}
.register {
  position: absolute;
  top: 7px;
  left: 150px;
  font-weight: 500;
}
.rectangle-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 365px;
  height: 34px;
}
.register-button {
  position: absolute;
  top: 612px;
  left: 210px;
  width: 365px;
  height: 34px;
  color: var(--color-white);
}
.enter-username {
  border: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 377px;
  left: 227px;
  color: var(--color-firebrick-300);
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 17px;
}
.enter-phonenumber {
  border: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 464px;
  left: 227px;
  color: var(--color-firebrick-300);
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 17px;
}
.enter-password {
  border: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 551px;
  left: 227px;
  color: var(--color-firebrick-300);
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 17px;
}
.enter-full-name {
  border: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 290px;
  left: 227px;
  color: var(--color-firebrick-300);
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 17px;
}
.enter-e-mail {
  border: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 203px;
  left: 227px;
  color: var(--color-firebrick-300);
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 17px;
}
.register-form {
  position: absolute;
  top: 35px;
  left: 593px;
  width: 785px;
  height: 736px;
}
.reservify {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 800;
  cursor: pointer;
}
.akar-iconsglobe {
  position: absolute;
  top: 12px;
  left: 247px;
  width: 22px;
  height: 22px;
}
.header {
  position: absolute;
  top: 12px;
  left: 29px;
  width: 269px;
  height: 52px;
}
.reservify-icon1 {
  position: absolute;
  top: 10.3px;
  left: 0px;
  width: 251.38px;
  height: 31.3px;
}
.restaurant-1-icon1 {
  position: absolute;
  top: 0px;
  left: 264.99px;
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.titlelogo {
  position: absolute;
  top: -287px;
  left: -1468px;
  width: 316.99px;
  height: 52px;
}
.main-header1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-white);
  width: 1440px;
  height: 70px;
  overflow: hidden;
  font-size: var(--font-size-24xl);
  color: var(--color-firebrick-100);
  font-family: var(--font-montserrat);
}
.restaurant-2-icon-signup {
  position: absolute;
  top: 249px;
  left: 269px;
  width: 279px;
  height: 279px;
  object-fit: cover;
}
.signup {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 871px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
