html{
  scroll-behavior:smooth;
}

.search-icon {
  position: absolute;
  height: 117.08%;
  width: 117.08%;
  top: -12.5%;
  right: -4.58%;
  bottom: -4.58%;
  left: -12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.homepagebtn {
  position: absolute;
  height: 34.29%;
  width: 1.67%;
  top: 34.29%;
  right: 2.22%;
  bottom: 31.43%;
  left: 96.11%;
}
.reservify-icon {
  position: absolute;
  top: 10.3px;
  left: 0;
  width: 251.4px;
  height: 31.3px;
}
.restaurant-1-icon {
  position: absolute;
  top: 0;
  left: 265px;
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.titlelogo {
  position: absolute;
  top: 9px;
  left: 32px;
  width: 317px;
  height: 52px;
}
.mainheader {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.profileimage-icon {
  position: absolute;
  top: 0;
  left: 858px;
  width: 350px;
  height: 350px;
  overflow: hidden;
}
.changepasswordbtn {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-firebrick-100);
  width: 365px;
  height: 34px;
  cursor: pointer;
  font-weight: 600;
  color: var(--color-white);
  font-size: var(--font-size-base-4);
  font-family: var(--font-montserrat);
}
.change-password,
.changepassbtn,
.changepasswordbtn {
  position: absolute;
  width: 193px;
  height: 38px;
}
.cancelresbtn {
  position: absolute;
  top: -75px;
  left: 0;
  width: 193px;
  height: 38px;
  border-radius: var(--br-31xl);
  background-color: var(--color-firebrick-100);
  cursor: pointer;
  font-weight: 600;
  color: var(--color-white);
  font-size: var(--font-size-base-4);
  font-family: var(--font-montserrat);
}
.change-password {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.changepassbtn {
  top: 312px;
  left: 586px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.confirmpasswordfield1 {
  position: absolute;
  top: 31px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-snow);
  border: 1px solid var(--color-black);
  width: 367px;
  height: 34px;
}
.confirm-new-password {
  border: none;
  outline: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 31px;
  left: 22px;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 319px;
  height: 34px;
}
.enter-confirm-password {
  position: absolute;
  top: 0;
  left: 0;
}
.confirmpasswordfield,
.enternewpasswordfield {
  position: absolute;
  top: 213px;
  left: 491px;
  width: 367px;
  height: 65px;
}
.enternewpasswordfield {
  top: 32px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-snow);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 34px;
}
.enter-new-password {
  border: none;
  outline: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 32px;
  left: 22px;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 319px;
  height: 34px;
}
.enteroldpasswordfield,
.newpasswordfield {
  position: absolute;
  top: 124px;
  left: 491px;
  width: 367px;
  height: 66px;
}
.enteroldpasswordfield {
  top: 33px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-snow);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 34px;
}
.enter-old-password {
  border: none;
  outline: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 33px;
  left: 22px;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 319px;
  height: 34px;
}
.oldpasswordfield {
  position: absolute;
  top: 36px;
  left: 491px;
  width: 367px;
  height: 67px;
}
.error{
  position: absolute;
  top: 357px;
  left: 292px;
  width: 367px;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
}
.changeusernamebtn {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-firebrick-100);
  width: 365px;
  height: 34px;
  cursor: pointer;
  font-weight: 600;
  color: var(--color-white);
  font-size: var(--font-size-base-4);
  font-family: var(--font-montserrat);
}
.change-user,
.changeuserbtn,
.changeusernamebtn {
  position: absolute;
  width: 193px;
  height: 38px;
}
.change-user {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.changeuserbtn {
  top: 312px;
  left: 80px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.confirm-new-username {
  position: relative;
  top: 250px;
  left: 60px;
  width: 193px;
  height: 38px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.confirm-new-username {
  border: none;
  outline: none;
  background-color: transparent;
  top: 31px;
  left: 26px;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 319px;
  height: 34px;
}
.confirmusernamefield {
  position: absolute;
  top: 213px;
  left: 0;
  width: 367px;
  height: 65px;
}
.enter-new-username {
  border: none;
  outline: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 32px;
  left: 26px;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 319px;
  height: 34px;
}
.newusernamefield {
  position: absolute;
  top: 124px;
  left: 0;
  width: 367px;
  height: 66px;
}
.enter-old-username {
  border: none;
  outline: none;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 33px;
  left: 26px;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 319px;
  height: 34px;
}
.divider1-icon,
.oldusernamefield {
  position: absolute;
  top: 36px;
  left: 0;
  width: 367px;
  height: 67px;
}
.divider1-icon {
  top: -10px;
  left: 416px;
  width: 22.8px;
  height: 380px;
}
.inputfields,
.settings1 {
  position: absolute;
  top: 61px;
  left: 1.5px;
  width: 1208px;
  height: 360px;
}
.settings1 {
  top: 0;
  left: 0.5px;
  font-size: var(--font-size-19xl);
  font-weight: 800;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray);
  display: inline-block;
  width: 174px;
  height: 53px;
}
.settings {
  padding-top: 200px;
  position: relative;
  width: 1209px;
  height: 479px;
  overflow: hidden;
  flex-shrink: 0;
}
.divider2 {
  position: absolute;
  top: 128.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1205px;
  height: 1px;
}
.divider1 {
  position: absolute;
  top: 408.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1205px;
  height: 1px;
}
.upcomingline {
  position: absolute;
  top: 126px;
  left: 2px;
  background-color: var(--color-firebrick-100);
  width: 107px;
  height: 3px;
}
.upcomingline2 {
  position: absolute;
  top: 406px;
  left: 2px;
  background-color: var(--color-firebrick-100);
  width: 68px;
  height: 3px;
}
.past,
.upcoming {
  position: absolute;
  top: 96px;
  left: 144px;
  display: inline-block;
  width: 66px;
  height: 30px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-firebrick-100);
}
.upcoming {
  left: 5px;
  width: 126px;
}
.past{
  top: 378px;
  left: 14px;
}
.reservation,
.reservations1 {
  position: absolute;
  top: 0;
  left: 0;
}
.reservations1 {
  font-size: var(--font-size-19xl);
  font-weight: 800;
  color: var(--color-dimgray);
  display: inline-block;
  width: 271px;
  height: 53px;
}
.reservation {
  width: 1204px;
  height: 129px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-firebrick-100);
}
.cancel-reservation {
  cursor: pointer;
  position: absolute;
  border-radius: var(--br-31xl);
  top: -75px;
  left: 0.5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 38px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  background-color: transparent;
  position: relative;
}
.cancelres2,
.restaurant-2 {
  position: absolute;
  top: 28px;
  left: 863px;
  width: 193px;
  height: 38px;
}
.restaurant-2 {
  top: 9px;
  left: 130px;
  font-size: var(--font-size-base);
  display: inline-block;
  color: var(--color-firebrick-100);
  width: 248px;
  height: 23px;
}
.date_data {
  font-weight: 600;
}
.span {
  font-weight: 500;
  color: var(--color-firebrick-100);
}
.date_data-10282023,
.number-of-people-container,
.time-300-pm-container {
  position: absolute;
  top: 37px;
  left: 130px;
  display: inline-block;
  width: 193px;
  height: 19px;
}
.time-300-pm-container {
  left: 304px;
  position: absolute;
  top: 37px;
  display: inline-block;
  width: 193px;
  height: 19px;
}
.number-of-people-container {
  left: 520px;
  position: absolute;
  top: 37px;
  display: inline-block;
  width: 193px;
  height: 19px;
}
.imgrest2,
.restaurant2,
.restaurant21 {
  position: absolute;
  height: 94px;
}
.restaurant21 {
  top: -75px;
  left: 0;
  width: 669px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
}
.restaurant2 {
  top: 278px;
  left: 76px;
  width: 1056px;
}
.cancelres1 {
  position: absolute;
  top: 28px;
  left: 861px;
  width: 193.5px;
  height: 38px;
}
.span2 {
  font-weight: 500;
  color: var(--color-firebrick-300);
}
.date_data-10202023,
.number-of-people-container1 {
  position: absolute;
  top: 37px;
  display: inline-block;
  height: 19px;
}
.date_data-10202023 {
  left: 131px;
  width: 159px;
  color: var(--color-darkslategray-200);
}
.number-of-people-container1 {
  left: 520px;
  width: 192px;
}
.restaurant1,
.restaurant11 {
  position: absolute;
  height: 94px;
}

.restaurant11 {
  top: 0;
  left: 0;
  width: 712px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
}
.restaurant1 {
  top: 159px;
  left: 76px;
  width: 1054.5px;
}
.reservations {
  position: relative;
  width: 1209px;
  height: 428px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.logout-btn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-200);
  width: 305.7px;
  height: 62px;
  cursor: pointer;
}
.logout,
.logout-btn {
  width: 311px;
  height: 62px;
}
.logout {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.logout-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.settingsreservations {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-88xl);
}
.copyrights-icon {
  position: absolute;
  top: 198.1px;
  left: 0;
  width: 1242px;
  height: 31.6px;
}
.contact-info-icon {
  position: absolute;
  bottom: 102.7px;
  left: 513px;
  width: 286px;
  height: 127px;
}
.about-us,
.faqs {
  position: absolute;
  top: 79px;
  left: 69px;
  font-weight: 500;
}
.about-us {
  top: 44px;
  left: 70px;
}
.reservify {
  position: absolute;
  top: 0;
  left: 69px;
  font-size: var(--font-size-lg);
}
.footer {
  position: absolute;
  background-color: #ffefe0;
  width: 100%;
  height: 328px;
  bottom: -350px;
  text-align: match-parent;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
  font-family: var(--font-montserrat);
  object-fit: cover;
}
.footer-info {
  position: absolute;
  top: 42px;
  left: 99px;
  width: 100%;
  height: 229.7px;
}

.mainframe {
  position: relative;
  top: 0px;
  left: 1% - 720px;
  min-width: 1440px;
  background: linear-gradient(180deg, #f8eadc, rgba(255, 255, 255, 0));
  width: 100%;
  height: 1452px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.user-dash {
  margin: 0;
  display: flex;
  overflow-x: hidden;
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1780px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
